<ul class="nav navlist">
	<li>
<a {{action "navClicked" "playerContent"}}>播放</a>
	</li>
	<li>
<a id="paperContentLink" {{action "navClicked" "paperContent"}}>内容</a>
	</li>
	<li>
<a {{action "navClicked" "quizContent"}}>测试</a>
	</li>
	<li>
<a {{action "navClicked" "discussContent"}}>讨论</a>
	</li>
	<li>
<a {{action "navClicked" "relativedContent"}}>扩展</a>
	</li>
</ul>

